<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/public/inicio.css">
<meta name="viewport" content="width=device-width,
initial-scale=1.0">
<title>Tienda de muebles </title>
</head>
<body>
<header>
<!-- barra de navegación -->
<nav>
    <div class="nav2">
        <img src="img/1687b800389258419646e1cb547a3490.jpg" alt="">
        <ul>
            <li><a href="index.ejs">Home</a></li>
            <li><a href="sucu.ejs">Shop</a></li>
            <li><a href="acs.ejs">Como cuidar tu suculenta</a></li>
            <li><i class="fa-solid fa-cart-shopping"></i></li>
            <li><i class="fa-solid fa-user"></i></li>
        </ul>
    </div>
</nav>
</header>
<%- include('./partials/header') %>
</body>